---
// components
import Section from "../../elements/Section.astro";
import Text from "../../elements/Text.astro";
---

<Section
  aria-label="Biography"
  title="Biography"
  titleHeading="WHOAMI"
  :reverseTitleOrder={true}
>
  <Text variant={"normal"} class="text-base-300">
    I am <b>Chunhin Lam</b>, a Full-stack software developer, problem solver and
    daydreamer currently living in <b>Hong Kong</b>.
  </Text>
  <!-- <Text variant={"normal"} class="text-base-300">    
  </Text> -->
</Section>
